* {
    margin:auto;
    text-align: center;
    align-content: center;
    color:white;
}

@keyframes colorchange
    {
      0%   {background-color: purple;}
      25%  {background-color: green;}
      50%  {background-color: blue;}
      75%  {background-color: yellow;}
      100% {background-color: green;}
    }