/* Default view is mobile */
* {
    margin:auto;
    text-align:center;
    align-content: center;
    color:white;
}
body {
    width: 480px;
}
div {
    box-sizing:border-box;
    height:125px;
    width: 475px;
    text-align: auto;
}
@keyframes colorchange
    {
      0%   {background-color: red;}
      25%  {background-color: yellow;}
      50%  {background-color: blue;}
      75%  {background-color: black;}
      100% {background-color: green;}
    }