body{
    width:100%;
}
header{
    height:75px;
    width:100%;
    line-height: 75px;
}
div:nth-child(2){
    width:100%;
    height:150px;
    line-height:150px;
}
div:nth-child(3){
    height: 125px;
    width:100%;
    line-height:125px;
}
div:nth-child(4){
    height: 125px;
    width:100%;
    line-height:125px;
}
div:nth-child(5){
    float:left;
    width: 50%;
    height: 250px;
    line-height:250px;
}
div:nth-child(6){
    float:right;
    border: none;
    width: 50%;
    height: 250px;
    line-height:250px;
}
div:nth-child(7){
    float:left;
    width: 50%;
    height: 250px;
    line-height:250px;
}
div:nth-child(8){
    float:right;
    width: 50%;
    height: 250px;
    line-height:250px;
}
footer{
    clear:both;
    height:80px;
    width:100%;
    line-height:80px;
}
/* ================ MEDIA QUERY > 480 ===================== */
@media only screen and (min-width: 481px){
    body{
        width:960px;
    }

    header{
        height:100px;
        width:100%;
        background-color: rgb(150, 150, 150);
        line-height: 100px;
    }
    div:nth-child(2){
        width:200px;;
        height:600px;
        float:left;
        background-color:rgb(112, 111, 111);
        line-height:600px;
    }
    div:nth-child(3){
        float:left;
        height: 200px;
        width:380px;
        background-color:rgb(67, 66, 66);
        line-height:200px;
    }
    div:nth-child(4){
        float:left;
        height: 200px;
        width:380px;
        background-color:rgb(92, 92, 92);
        line-height:200px;
    }
    div:nth-child(5){
        float:left;
        height:250px;
        width:190px;
        line-height: 250px;
        background-color:rgb(121, 118, 118);
    }
    div:nth-child(6){
        float:left;
        height:250px;
        width:190px;
        line-height: 250px;
        background-color:rgb(105, 102, 102);
    }
    div:nth-child(7){
        float:left;
        height:250px;
        width:190px;
        line-height: 250px;
        background-color:rgb(126, 126, 126);
    }
    div:nth-child(8){
        float:left;
        height:250px;
        width:190px;
        line-height: 250px;
        background-color:rgb(165, 162, 162);
    }
    footer{
        display:inline-block;
        height:150px;
        background-color:rgb(46, 46, 46);
        width:760px;
        line-height:150px;
    }
}